.cart-container {
  height: 100%;
  flex: 0;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  h2 {
    font-size: var(--font-size-bold-24);
    font-weight: var(--font-weight-bold-24);
    line-height: var(--line-height-bold-24);
    color: var(--red);
    align-self: start;
  }

  .empty-cart {
    img {
      width: 128px;
      height: 128px;
      display: block;
      margin: 0 auto;
    }

    p {
      font-size: var(--font-size-semi-bold-14);
      font-weight: var(--font-weight-semi-bold-14);
      line-height: var(--line-height-semi-bold-14);
      color: var(--rose-500);
    }
  }

  .cart-with-item {
    width: 100%;

    .checkout-list {
      .item-hr-container {
        .cart-item {
          display: flex;
          flex-direction: row;
          gap: 0;
          justify-content: space-between;
          align-items: center;

          .name-amount-price-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .item-name {
              font-size: var(--font-size-semi-bold-14);
              font-weight: var(--font-weight-semi-bold-14);
              line-height: var(--line-height-semi-bold-14);
              color: var(--rose-900);
            }

            .amount-price-container {
              display: flex;
              flex-direction: row;
              gap: 8px;

              .amount {
                font-size: var(--font-size-semi-bold-14);
                font-weight: var(--font-weight-semi-bold-14);
                line-height: var(--line-height-semi-bold-14);
                color: var(--red);
                width: 21px;
              }

              .unit-price {
                font-size: var(--font-size-regular-14);
                font-weight: var(--font-weight-regular-14);
                line-height: var(--line-height-regular-14);
                color: var(--rose-500);
              }

              .total {
                font-size: var(--font-size-semi-bold-14);
                font-weight: var(--font-weight-semi-bold-14);
                line-height: var(--line-height-semi-bold-14);
                color: var(--rose-500);
              }
            }
          }

          img {
            width: 20px;
            height: 20px;
            cursor: pointer;

            &:hover {
              content: url(./frontendmentor-product-list-with-cart/src/assets/images/icon-remove-item-circle-selected.svg);
            }
          }
        }

        hr {
          border: 1px solid var(--rose-100);
          margin: 24px 0;
        }
      }

      .order-total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        p {
          font-size: var(--font-size-regular-14);
          font-weight: var(--font-weight-regular-14);
          line-height: var(--line-height-regular-14);
          color: var(--rose-900);
          align-self: center;
        }

        .total-price {
          font-size: var(--font-size-bold-24);
          font-weight: var(--font-weight-bold-24);
          line-height: var(--line-height-bold-24);
          color: var(--rose-900);
        }
      }
    }

    .carbon-neutral-statement {
      background-color: var(--rose-50);
      border-radius: 0.5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 8px;
      padding: 16px;
      margin: 24px 0;

      p {
        font-size: var(--font-size-regular-14);
        font-weight: var(--font-weight-regular-14);
        line-height: var(--line-height-regular-14);
        color: var(--rose-900);

        b {
          font-size: var(--font-size-semi-bold-14);
          font-weight: var(--font-weight-semi-bold-14);
          line-height: var(--line-height-semi-bold-14);
        }
      }
    }

    .confirm-order-btn {
      font-family: var(--font-primary);
      font-size: var(--font-size-semi-bold-16);
      font-weight: var(--font-weight-semi-bold-16);
      line-height: var(--line-height-semi-bold-16);
      color: var(--white);
      background-color: var(--red);
      border: none;
      border-radius: 50px;
      width: 100%;
      height: 53px;
      display: block;
      margin: 0 auto;
      cursor: pointer;

      &:hover {
        background:
          linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), var(--red);
      }
    }
  }
}

@media (min-width: 1025px) {
  .cart-container {
    min-width: 384px;
  }
}
