.is-clicked {
  color: var(--white);
  background-color: var(--red);
  border: none;

  img {
    cursor: pointer;

    &[class="decrement-btn"]:hover {
      content: url("./frontendmentor-product-list-with-cart/src/assets/images/icon-decrement-quantity-inverted.svg");
    }

    &[class="increment-btn"]:hover {
      content: url("./frontendmentor-product-list-with-cart/src/assets/images/icon-increment-quantity-inverted.svg");
    }
  }

  span {
    margin: 0 auto;
  }
}
